AuthType Basic 
AuthName "My Protected Folder" 
AuthUserFile /home/svxpsycu7xu4/public_html/dashboard.mediosfederales.com/desk/auth/.htpasswd 
require valid-user


<FilesMatch "\.php$">
 Order allow,deny
 Allow from all
</FilesMatch>